*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #6dc9ff;
}
.card{
    position: relative;
    width: 300px;
    height: 400px;
    background: #6dc9ff;
    border-radius: 40px;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15),
    inset -5px -5px 15px rgba(255, 255, 255, 0.15),
    5px 5px 15px rgba(0, 0, 0, 0.15),
    -5px -5px 15px rgba(255, 255, 255, 0.15);
}
.card::before{
    content: "";
    position: absolute;
    inset: 5px;
    background: #ffffff;
    border-radius: 35px;
    transition: 0.5s;
}
.card:hover::before{
    transform: translate(40px, -40px);
}